name: Quantize ModelKit

on:
  workflow_dispatch:
    inputs:
      model_name:
        type: string
        description: "Model name"
        required: true
      model_variant:
        type: string
        description: "Model variant"
        required: true
      model_parameters:
        type: string
        description: "Model parameter size"
        required: true
      model_src_qnt:
        type: string
        description: "Model quantization"
        required: true
        default: "f16"
      model_target_qnt:
        type: string
        description: "Model quantization"
        required: true
        default: "f16"
      model_description:
        type: string
        description: "Model description"
        required: true
      kitfile_template:
        type: string
        description: "Kitfile template"
        required: true
      runner:
        type: string
        description: "Runner"
        required: true
        default: "model-factory-runner"

jobs:
  quantize-model:
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
      packages: write
    env:
      KITOPS_HOME: ".kitops-build"
      TARGET_R2_BUCKET_NAME: "prod-blobs"
    strategy:
      matrix:
        qnt: ${{ fromJSON(inputs.model_target_qnt) }}
    steps:
      - uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

        # This hack frees up approx 25G.
        # See the following issue for more info: https://github.com/actions/runner-images/issues/2840#issuecomment-1284059930
      - name: Free up runner disk space
        uses: ublue-os/remove-unwanted-software@e3843c85f5f9b73626845de0f5d44fb78ce22e12 # v6

      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: "3.10"
      - name: Install quantize dependencies
        run: ./scripts/check-quantize
      - uses: jozu-ai/gh-kit-setup@1960d89a6396444d03ad93abc1a74a4cf14baccd # v1.0.0
        name: install kit CLI
      - name: login to kit
        run: kit login jozu.ml --username "${{secrets.KIT_USER}}" --password "${{secrets.KIT_PASSWORD}}"
      - name: unpack base-modelkit
        run: |
          mkdir ./model
          kit pull jozu.ml/jozu/${{inputs.model_name}}:${{inputs.model_parameters}}-${{inputs.model_variant}}-${{inputs.model_src_qnt}}
          kit unpack jozu.ml/jozu/${{inputs.model_name}}:${{inputs.model_parameters}}-${{inputs.model_variant}}-${{inputs.model_src_qnt}} -d ./model
      - name: quantize model
        run: |
          MODEL_PATH=$(yq eval '.model.path' ./model/Kitfile)
          ./scripts/llama-quantize ./model/$MODEL_PATH \
          ./model/${{inputs.model_name}}-${{inputs.model_parameters}}-${{inputs.model_variant}}-${{matrix.qnt}}.gguf ${{matrix.qnt}}
      - name: generate kitfile
        run: |
          ./scripts/update-kitfile "${{inputs.model_name}}-${{inputs.model_parameters}}-${{inputs.model_variant}}-${{matrix.qnt}}" \
          "${{inputs.model_description}}" ./${{inputs.model_name}}-${{inputs.model_parameters}}-${{inputs.model_variant}}-${{matrix.qnt}}.gguf \
          ${{inputs.kitfile_template}} ./model/Kitfile
          cat ./model/Kitfile
      - name: pack modelkit
        run: |
          kit pack ./model -t jozu.ml/jozu/${{inputs.model_name}}:${{inputs.model_parameters}}-${{inputs.model_variant}}-${{matrix.qnt}} -v

      # Temporary workaround to allow pushing blobs to R2 directly
      - name: Setup Rclone
        uses: AnimMouse/setup-rclone@1a535c480a89e3990d2a0015ea21f6fa3eb1fdc4 ## v1.10.1
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}
      - name: copy blobs up to R2 storage
        run: |
          # Copy all blobs in storage to r2 bucket
          for d in $(find "$KITOPS_HOME/storage" -type d -name 'sha256'); do
            for f in $(find $d -type f); do
              FILENAME="$(basename $f)"
              TARGET="${TARGET_R2_BUCKET_NAME}/sha256:$FILENAME"
              echo "[INFO ] Copying $f to r2_storage:$TARGET"
              echo "[INFO ] Command: rclone copyto "$f" "r2_storage:$TARGET" -v"
              rclone copyto "$f" "r2_storage:$TARGET" -v
              echo "[INFO ] Done copying $f to r2_storage:$TARGET"
              echo ""
            done
          done
      # End temporary workaround
      - name: push modelkit
        run: kit push jozu.ml/jozu/${{inputs.model_name}}:${{inputs.model_parameters}}-${{inputs.model_variant}}-${{matrix.qnt}} -v --log-level=trace --progress=none
      - name: Install jq tool
        run: |
          sudo apt-get update
          sudo apt-get install jq
      - name: Get modelkit digest
        env:
          MODELKIT_REF: jozu.ml/jozu/${{inputs.model_name}}
          MODELKIT_TAG: ${{inputs.model_parameters}}-${{inputs.model_variant}}-${{matrix.qnt}}
        id: digest
        run: |
          echo "modelkit_sha=$(kit inspect ${MODELKIT_REF}:${MODELKIT_TAG} --remote | jq -r '.digest')" >> $GITHUB_OUTPUT
      - name: Install cosign
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 # v3.5.0
      - name: Sign modelkit
        env:
          MODELKIT_REF: jozu.ml/jozu/${{inputs.model_name}}@${{ steps.digest.outputs.modelkit_sha }}
        run: |
          cosign sign --yes --registry-username "${{secrets.KIT_USER}}" --registry-password "${{secrets.KIT_PASSWORD}}" $MODELKIT_REF
